//====================================================================================================
.hero {
  padding-top: toRem(190);
  padding-bottom: toRem(70);
  @media (max-width: $tablet) {
    padding-top: toRem(150);
    padding-bottom: toRem(45);
  }
  @media (max-width: $mobile) {
    padding-top: toRem(120);
  }

  // .hero__container
  &__container {
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    z-index: 2;
    position: relative;
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 60px;
    }
    @media (max-width: $mobileSmall) {
      gap: 34px;
    }
  }
  // .hero__left
  &__left {
    width: 50%;
    @media (max-width: $tablet) {
      width: 100%;
      text-align: center;
    }
  }
  // .hero__title
  &__title {
    margin-bottom: toRem(24);
  }
  // .hero__subtitle
  &__subtitle {
    color: $gray;
    @include adaptiveValue("font-size", 20, 16);
    line-height: 155%;
    margin-bottom: toRem(40);
    letter-spacing: 0.4px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (max-width: $tablet) {
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
    }
    @media (max-width: $mobile) {
      gap: 15px;
    }
    li {
      font-family: "Oswald";
      font-weight: 500;
      font-size: toRem(20);
      display: flex;
      align-items: center;
      gap: 5px;
      letter-spacing: 0.5px;
      @media (max-width: $mobile) {
        font-size: toRem(18);
      }
      img {
        width: toRem(19);
        height: toRem(19);
      }
    }
  }
  // .hero__select-title
  &__select-title {
    color: $orange;
    text-transform: uppercase;
    font-size: toRem(20);
    line-height: 120%;
    font-family: "Oswald";
    font-weight: 500;
    margin-bottom: toRem(20);
    letter-spacing: 0.5px;
  }

  // .hero__select
  &__select {
    border: 1px solid rgba(0, 0, 0, 0.2);

    color: $gray;
    font-size: toRem(17);
    line-height: 120%;
    padding: 16px 22px;
    border-radius: 30px;
    letter-spacing: 0.5px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    width: 100%;
    background: #fff;
    cursor: pointer;
    transition: border 0.3s;
    &:focus {
      border: 1px solid $orange;
    }
    &-wrap {
      position: relative;
      width: 100%;
      max-width: 588px;
      background: transparent;
      @media (max-width: $tablet) {
        margin: 0 auto;
      }
      &::before {
        color: $orange;
        position: absolute;
        top: 50%;
        right: 22px;
        transform: translate(-50%, -50%);
        font-size: toRem(24);
      }
    }
  }
  // .hero__right
  &__right {
    @include adaptiveValue("max-width", 682, 430, 0, 1750, 991.98);
    @include adaptiveValue("margin-right", -50, 0, 0, 1480, 991.98);
    display: flex;
    position: relative;

    @media (max-width: $tablet) {
      width: 100%;
      align-self: center;
      margin-right: 0;
    }
  }
  &__right-picture {
    aspect-ratio: 682 / 726;
    object-position: right;
  }
  // .hero__orange-tag
  &__orange-tag {
    position: absolute;
    z-index: 2;
    background: $orange;
    color: #fff;
    padding: 24px 20px;
    font-family: "Oswald";
    font-weight: 600;
    text-align: center;
    bottom: 52%;
    right: -63px;
    border-radius: 16px;
    @include adaptiveValue("right", -20, 0, 0, 1480, 991.98);
    box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.42);
    @media (max-width: $tablet) {
    }
    @media (max-width: $mobile) {
      padding: 16px 12px;
    }
  }
  // .hero__tag-title
  &__tag-title {
    @include adaptiveValue("font-size", 20, 13);
    line-height: 100%;
    margin-bottom: toRem(8);
    letter-spacing: 0.7px;
  }
  // .hero__tag-number
  &__tag-number {
    @include adaptiveValue("font-size", 30, 20);
    line-height: 100%;
    letter-spacing: 0.7px;
  }
  // .hero__black-tag
  &__black-tag {
    position: absolute;
    z-index: 2;
    background: #000;
    color: #fff;
    padding: 24px 20px;
    font-family: "Oswald";
    font-weight: 600;
    text-align: center;
    bottom: 21%;
    left: -10px;
    border-radius: 16px;
    box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.42);

    @media (max-width: $tablet) {
      left: -10px;
    }
    @media (max-width: $mobile) {
      padding: 16px 12px;
    }
  }
  &__line {
    position: absolute;
    left: 0;
    top: 27%;

    @include adaptiveValue("width", 114, 72, 0, 1750, 1480);
    @include adaptiveValue("left", 0, -20, 0, 1750, 1480);
    z-index: 1;
    @media (max-width: $tablet) {
      top: 36%;
    }
    @media (max-width: $mobileSmall) {
      top: 42%;
    }
  }
  &__vertical-text {
    position: absolute;
    // right: -20px;
    @include adaptiveValue("right", -140, -80, 0, 1480, 991.98);
    top: 35%;
    transform: rotate(-90deg);
    color: $orange;
    font-family: "Oswald";
    text-transform: uppercase;
    letter-spacing: 1.5px;
    @include adaptiveValue("font-size", 22, 17);
    @media (max-width: $tablet) {
      top: 6%;
      right: -60px;
      @include adaptiveValue("right", -100, -65, 0, 991.98, 375);
    }
  }
}

//====================================================================================================

.who-we {
  background: url("@img/home/who-we-bg.png") 0 0 / cover no-repeat;
  padding-top: toRem(105);
  padding-bottom: toRem(100);
  @media (max-width: $tablet) {
    padding-top: toRem(45);
    padding-bottom: toRem(45);
  }

  // .who-we__container
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  // .who-we__title
  &__title {
    margin-bottom: toRem(35);
    @media (max-width: $mobile) {
      margin-bottom: toRem(25);
    }
  }
  // .who-we__desc
  &__desc {
    line-height: 170%;
    color: #fff;
    max-width: 1000px;
  }
  // .who-we__items
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin-bottom: toRem(60);
    @media (max-width: $tablet) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: $mobile) {
      margin-bottom: toRem(30);
      gap: 20px;
    }
  }
  // .who-we__item
  &__item {
    background: #fff;
    border-radius: 16px;
    padding: 20px 25px 45px 35px;
    max-width: 500px;
    @media (max-width: $pc) {
      padding: 20px;
    }
  }
  // .who-we__item-header
  &__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 159, 119, 0.6) 100%
    );
    border-radius: 100px;
    img {
      width: toRem(90);
      height: toRem(90);
    }
  }
  // .who-we__item-title
  &__item-title {
    font-family: "Oswald";
    font-weight: 600;
    font-size: toRem(25);
    line-height: 120%;
    text-transform: uppercase;
    max-width: 185px;
    letter-spacing: 1px;
  }
  // .who-we__item-text
  &__item-text {
    padding-top: toRem(30);
    color: $gray;
    font-size: toRem(17);
    line-height: 155%;
    @media (max-width: $mobile) {
      font-size: toRem(16);
      padding-top: 20px;
    }
  }
  // .who-we__button
  &__button {
  }
}

//========================================================================================================================================================

.deliver {
  background: url("@img/home/deliver-bg.png") 0 0 / cover no-repeat;
  padding-top: toRem(105);
  padding-bottom: toRem(165);
  @media (max-width: $tablet) {
    padding-top: toRem(45);
    padding-bottom: toRem(90);
  }

  // .deliver__container
  &__container {
    text-align: center;
  }
  // .deliver__title
  &__title {
    text-align: center;
    margin-bottom: toRem(10);
  }
  // .deliver__desc
  &__desc {
    line-height: 160%;
    max-width: 800px;
  }
  // .deliver__items
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
    @media (max-width: $tablet) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30;
    }
    @media (max-width: $mobile) {
      gap: 15px;
    }
  }
  // .deliver__item
  &__item {
    background: $orange;
    width: 100%;
    @include adaptiveValue("padding", 63, 40);
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.09);
    color: #fff;
    position: relative;
    overflow: hidden;
    max-width: 500px;

    &:nth-child(odd) {
      background: #fff;
      margin-top: toRem(55);
      @media (max-width: $tablet) {
        margin-top: 0;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background: $orange;
      }
      .deliver__item-number {
        color: $orange;
      }
      .deliver__item-text {
        color: $gray;
      }
      .deliver__item-title {
        color: $mainColor;
      }
    }
  }
  // .deliver__item-title
  &__item-title {
    font-family: "Oswald";
    font-weight: 600;
    @include adaptiveValue("font-size", 30, 24);
    text-transform: uppercase;
    margin-bottom: toRem(15);
  }
  // .deliver__item-number
  &__item-number {
    font-family: "Oswald";
    font-weight: 600;
    line-height: 100%;
    margin-bottom: toRem(20);
    @include adaptiveValue("font-size", 70, 44);
  }
  // .deliver__item-text
  &__item-text {
    line-height: 124%;
    letter-spacing: 0.5px;
    @include adaptiveValue("font-size", 25, 18);
  }
}

//========================================================================================================================================================

.process {
  padding-top: toRem(40);
  padding-bottom: toRem(120);
  background-color: rgb(251, 241, 238);
  position: relative;
  @media (max-width: $tablet) {
    padding-top: toRem(30);
    padding-bottom: toRem(45);
  }
  @media (max-width: $mobile) {
    padding-top: toRem(10);
  }
  &__wave {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: toRem(40);
    object-fit: cover;
    object-position: top;
    @media (max-width: $tablet) {
    }
  }
  // .process__container
  &__container {
  }
  // .process__title
  &__title {
    text-align: center;
    margin-bottom: toRem(16);
  }
  // .process__desc
  &__desc {
  }
  // .process__wrap
  &__wrap {
    position: relative;
    margin-top: toRem(75);
    @media (max-width: $mobile) {
      margin-top: toRem(30);
    }
  }
  // .process__logo
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include adaptiveValue("width", 183, 150, 0, 1480, 991.98);
    z-index: 2;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  // .process__pink-circle
  &__pink-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid rgba(204, 51, 9, 0.1);
    border-radius: 50%;
    @include adaptiveValue("width", 316, 240, 0, 1480, 991.98);
    @include adaptiveValue("height", 316, 240, 0, 1480, 991.98);
    background: #fff;
    z-index: 1;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  // .process__dashed-circle
  &__dashed-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px dashed rgba(2, 27, 78, 0.5);
    border-radius: 50%;
    @include adaptiveValue("width", 500, 350, 0, 1480, 991.98);
    @include adaptiveValue("height", 500, 350, 0, 1480, 991.98);
    z-index: 1;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  // .process__items
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    @include adaptiveValue("grid-column-gap", 230, 130, 0, 1480, 991.98);
    @include adaptiveValue("grid-row-gap", 100, 40, 0, 1480, 991.98);
    @media (max-width: $tablet) {
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-flow: row;
      grid-row-gap: 20px;
    }
  }
  // .process__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 26px;
    text-align: right;
    position: relative;
    z-index: 2;
    &:nth-child(odd) {
      .process__item-picture {
        background: $orange;
      }
    }
    &:nth-child(even) {
      .process__item-picture {
        background: #000;
      }
    }
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      flex-direction: row-reverse;
      text-align: left;
    }
    &:nth-child(5) {
      @include adaptiveValue("padding-left", 85, 55, 0, 1480, 991.98);
      @media (max-width: $tablet) {
        padding: 0;
      }
    }
    &:nth-child(2) {
      @include adaptiveValue("padding-right", 85, 55, 0, 1480, 991.98);
      @media (max-width: $tablet) {
        padding: 0;
      }
    }
    @media (max-width: $mobile) {
      justify-content: center;
      flex-direction: row-reverse;
      text-align: left;
    }
  }
  // .process__item-text
  &__item-text {
    max-width: 290px;
    @media (max-width: $mobile) {
      max-width: 375px;
    }
  }
  // .process__item-title
  &__item-title {
    font-family: "Oswald";
    font-weight: 600;
    font-size: toRem(24);
    line-height: 158%;
    margin-bottom: toRem(4);
  }
  // .process__item-desc
  &__item-desc {
    font-size: toRem(17);
    line-height: 152%;
    letter-spacing: 0.6px;
  }
  // .process__item-picture
  &__item-picture {
    border-radius: 50%;

    width: toRem(94);
    height: toRem(94);
    flex: 0 0 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobileSmall) {
      width: toRem(80);
      height: toRem(80);
      flex: 0 0 80px;
    }
    img {
      max-width: toRem(49);
      max-height: toRem(49);
      @media (max-width: $mobileSmall) {
        max-width: toRem(40);
        max-height: toRem(40);
      }
    }
  }
  // .process__cards
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px 50px;

    grid-auto-flow: column;
    position: relative;
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 10px;
      max-width: 500px;
      justify-items: center;
      margin: 0 auto;
    }
  }
  // .process__card
  &__card {
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    @include adaptiveValue("padding", 30, 15);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 20px;
    align-items: center;
    grid-template-areas:
      "img title"
      "img desc";
    position: relative;
    overflow: hidden;
    box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.09);
    @media (max-width: $mobile) {
      grid-column: 1;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background: #000;
    }
    &:nth-child(odd) {
      .process__card-img {
        background: $orange;
      }
    }
    &:nth-child(even) {
      .process__card-img {
        background: #000;
      }
    }
  }
  // .process__card-img
  &__card-img {
    grid-area: img;
    // width: toRem(120);
    // height: toRem(120);
    @include adaptiveValue("width", 120, 70);
    @include adaptiveValue("height", 120, 70);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      //   max-width: 80px;
      @include adaptiveValue("max-width", 80, 40);
    }
  }
  // .process__card-title
  &__card-title {
    grid-area: title;
    font-family: "Oswald";
    font-weight: 500;
    @include adaptiveValue("font-size", 26, 22);
    align-self: center;
  }
  // .process__card-desc
  &__card-desc {
    grid-area: desc;
    @include adaptiveValue("font-size", 20, 17);
    color: $gray;
    align-self: flex-start;
    line-height: 120%;
  }
  &__man-img {
    position: absolute;
    right: 135px;
    bottom: -245px;
    @include adaptiveValue("right", 135, 20, 0, 1480, 767.98);
    @include adaptiveValue("bottom", -245, -120, 0, 1480, 767.98);
    @include adaptiveValue("width", 424, 270, 0, 1480, 767.98);
    @media (max-width: $mobile) {
      grid-column: 1;
      position: static;
      transform: translateY(30px);
    }
  }
}

//========================================================================================================================================================

.why-us {
  background: url("@img/home/why-us-bg.png") center / cover no-repeat;
  padding-top: toRem(105);
  padding-bottom: toRem(110);
  @media (max-width: $tablet) {
    padding-top: toRem(45);
    padding-bottom: toRem(45);
  }
  // .why-us__container
  &__container {
  }
  // .why-us__title
  &__title {
    margin-bottom: toRem(23);
    @media (max-width: $mobile) {
      margin-bottom: toRem(25);
    }
  }
  // .why-us__desc
  &__desc {
    color: #fff;
    margin: 0 auto;
    max-width: 800px;
    line-height: 160%;
    margin-bottom: toRem(55);
    @media (max-width: $mobile) {
      margin-bottom: toRem(20);
    }
  }
  // .why-us__items
  &__items {
    display: flex;
    @include adaptiveValue("gap", 50, 15);
    align-items: stretch;
    @media (max-width: $tablet) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  // .why-us__item
  &__item {
    @include adaptiveValue("padding", 40, 30, 0, 1480, 991.98);
    @media (max-width: $mobileSmall) {
      padding: 30px 20px;
    }
    img {
      margin-bottom: toRem(18);
      max-width: 110px;
    }
  }
  // .why-us__item-title
  &__item-title {
    font-family: "Oswald";
    font-weight: 500;
    line-height: 140%;
    @include adaptiveValue("font-size", 25, 18);
    max-width: 240px;
    margin: 0 auto 15px;
    @media (max-width: $tablet) {
      max-width: unset;
    }
    @media (max-width: $mobileSmall) {
      margin-bottom: toRem(10);
    }
  }
  // .why-us__item-desc
  &__item-desc {
    font-size: toRem(17);
    line-height: 152%;
    color: $gray;
  }
}

//========================================================================================================================================================

.main-contact {
  background: url("@img/home/contacts-bg.png") center / cover no-repeat;
  padding-top: toRem(110);
  padding-bottom: toRem(110);
  @media (max-width: $tablet) {
    padding-top: toRem(45);
    padding-bottom: toRem(45);
  }
  // .main-contact__container
  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
    @media (max-width: $mobile) {
      gap: 30px;
    }
  }
  // .main-contact__text
  &__text {
  }
  // .main-contact__title
  &__title {
    margin-bottom: toRem(15);
    @media (max-width: $tablet) {
      text-align: center;
    }
  }
  // .main-contact__desc
  &__desc {
    text-align: left;
    max-width: 525px;
    margin: 0 0 25px 0;
    line-height: 170%;
    @media (max-width: $tablet) {
      text-align: center;
      margin: 0 auto 20px auto;
    }
  }
  // .main-contact__item
  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: $tablet) {
      justify-content: center;
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }
  &__item-image {
    padding: 10px;
    background: $orange;
    border-radius: 50%;
    width: toRem(60);
    height: toRem(60);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 31px;
    }
  }
  // .main-contact__item-text
  &__item-text {
  }
  // .main-contact__item-title
  &__item-title {
    font-size: toRem(16);
    margin-bottom: toRem(8);
    @media (max-width: $mobileSmall) {
      text-align: center;
    }
  }
  // .main-contact__item-info
  &__item-info {
    font-family: "Oswald";
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    @include adaptiveValue("font-size", 25, 20);
    display: block;
    @media (max-width: $mobileSmall) {
      text-align: center;
    }
  }
  &__form-wrap {
    @include adaptiveValue("max-width", 600, 500, 0, 1480, 991.98);
    @media (max-width: $tablet) {
      max-width: 600px;
    }
  }
  // .main-contact__form
  &__form {
    background-color: rgb(243, 243, 243);
    padding: 55px 40px 40px 40px;
    @media (max-width: $tablet) {
      padding: 40px;
    }
    @media (max-width: $mobile) {
      padding: 30px 20px;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background: $orange;
    }
    input,
    select,
    textarea {
      padding: 17px 12px;
      box-shadow: inset 0px 1px 10px 0px rgba(0, 0, 0, 0.19);
    }
    button {
      max-width: 300px;
    }
  }
  // .main-contact__form-row
  &__form-row {
  }
  // .main-contact__form-select
  &__form-select {
  }
}

//========================================================================================================================================================

.contact-us {
  .hero {
    background-color: #fbf1ee;
    padding-top: toRem(145);
    padding-bottom: toRem(25);
    @media (max-width: $mobile) {
      padding-top: toRem(120);
    }

    &__right {
      @include adaptiveValue("margin-right", 50, 0, 0, 1480, 991.98);
    }
    &__title {
      max-width: 400px;
      @media (max-width: $tablet) {
        max-width: unset;
      }
    }
    &__line {
      @media (max-width: $tablet) {
        top: 20%;
      }
    }
    &__right-picture {
      aspect-ratio: 574/574;
    }
  }
}

//========================================================================================================================================================

.call-action {
  background-color: #000;
  padding-top: toRem(95);
  padding-bottom: toRem(35);
  @media (max-width: $tablet) {
    padding-top: toRem(45);
  }
  // .call-action__container
  &__container {
  }
  // .call-action__title
  &__title {
    margin-bottom: toRem(30);
    @media (max-width: $mobile) {
      margin-bottom: toRem(16);
    }
  }
  // .call-action__desc
  &__desc {
    color: #fff;
  }
}
//========================================================================================================================================================

.contacts {
  background: url("@img/contact-us/contact-bg.png") 0 0 / cover no-repeat;
  padding-top: toRem(105);
  @media (max-width: $tablet) {
    padding-top: toRem(45);
  }
  // .contacts__container
  &__container {
  }
  // .contacts__top
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 40px;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }
  &__people-img {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    @include adaptiveValue("right", 473, 385, 0, 1480, 991.98);
    z-index: 2;
    @include adaptiveValue("width", 217, 170, 0, 1480, 991.98);
    @media (max-width: $tablet) {
      @include adaptiveValue("right", 634, 499, 0, 991.98, 767.98);
      @include adaptiveValue("width", 170, 145, 0, 991.98, 767.98);
    }
    @media (max-width: $mobile) {
      @include adaptiveValue("right", 499, 329, 0, 767.98, 479.98);
      @include adaptiveValue("width", 145, 105, 0, 767.98, 479.98);
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
  }
  // .contacts__top-text
  &__top-text {
  }
  // .contacts__top-title
  &__top-title {
    margin-bottom: toRem(10);
    @media (max-width: $tablet) {
      text-align: center;
    }
  }
  // .contacts__top-desc
  &__top-desc {
    text-align: left;
    line-height: 170%;
    margin-bottom: toRem(25);
    @media (max-width: $tablet) {
      text-align: center;
    }
  }
  // .contacts__top-info
  &__top-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 300px;
    @media (max-width: $tablet) {
      max-width: 100%;
      gap: 25px;
    }
  }
  // .contacts__top-item
  &__top-item {
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 20px;
    align-items: center;
    grid-template-areas:
      "img title"
      "img desc";
    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      gap: 10px;
      grid-template-areas:
        "img"
        "title"
        "desc";
      text-align: center;
    }
  }
  &__top-item-icon {
    grid-area: img;
    @media (max-width: $tablet) {
      justify-self: center;
    }
  }
  // .contacts__top-item-title
  &__top-item-title {
    grid-area: title;
    font-family: "Oswald";
    font-weight: 600;
    line-height: 120%;
  }
  // .contacts__top-item-info
  &__top-item-info {
    grid-area: desc;
    line-height: 140%;
  }
  // .contacts__top-item-phone
  &__top-item-phone {
    font-family: "Oswald";
    font-weight: 600;
    color: $orange;
    font-size: toRem(32);
    line-height: 100%;
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: #dd4e27;
      }
    }
  }
  // .contacts__top-item-socials
  &__top-item-socials {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: $tablet) {
      display: none;
    }
    li {
      a {
        border-radius: 50%;
        color: $mainColor;
        border: 2px solid $mainColor;
        width: toRem(42);
        height: toRem(42);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        @media (any-hover: hover) {
          &:hover {
            background: $orange;
            border: 2px solid $orange;
            color: #fff;
          }
        }
      }
    }
  }
  // .contacts__form-wrap
  &__form-wrap {
    @include adaptiveValue("max-width", 620, 500, 0, 1480, 991.98);
    @media (max-width: $tablet) {
      @include adaptiveValue("max-width", 750, 400, 0, 991.98, 479.98);
      margin-right: 0;
      margin-left: auto;
    }
    @media (max-width: $mobileSmall) {
      max-width: unset;
    }
  }
  &__form-title {
    background: $orange;
    padding: 20px;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 35, 25);
  }
  // .contacts__form
  &__form {
    background: #000;
    padding: 50px 40px 60px;

    label {
      color: #fff;
      font-weight: 500;
    }
    input,
    select,
    textarea {
      padding: 13px 12px;
    }
    @media (max-width: $tablet) {
      padding: 40px;
    }
    @media (max-width: $mobile) {
      padding: 30px 20px;
    }
    &-col {
      gap: 15px;
      @media (max-width: $mobile) {
        gap: 10px;
      }
    }
  }
  // .contact__bottom
  &__bottom {
    background: url("@img/contact-us/contact-global-map-bg.png") center center /
      cover no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: toRem(-30);
    padding-top: toRem(140);
    padding-bottom: toRem(170);
    @media (max-width: $tablet) {
      padding-bottom: toRem(100);
      margin-top: toRem(0);
      padding-top: toRem(100);
    }
    @media (max-width: $mobile) {
      padding-bottom: toRem(80);
      padding-top: toRem(80);
    }
  }

  // .contact__bottom-title
  &__bottom-title {
    margin-bottom: toRem(30);
    text-align: center;
    @media (max-width: $mobile) {
      margin-bottom: toRem(16);
    }
  }
  &__bottom-logo {
    max-width: 300px;
    @media (max-width: $mobile) {
      max-width: 230px;
    }
  }
  // .contact__bottom-list
  &__bottom-list {
    margin-top: toRem(35);
    @media (max-width: $mobile) {
      margin-top: toRem(20);
    }
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      @include adaptiveValue("font-size", 25, 20);
      &::before {
        background: $orange;
        color: #fff;
        width: toRem(25);
        height: toRem(25);
        flex: 0 0 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: toRem(16);
      }
      &:not(:last-child) {
        margin-bottom: toRem(20);
      }
    }
  }
}

//========================================================================================================================================================

.solutions {
  .hero {
    background-color: #fbf1ee;
    padding-top: toRem(150);
    padding-bottom: toRem(85);
    @media (max-width: $tablet) {
      padding-bottom: toRem(70);
    }
    @media (max-width: $mobile) {
      padding-top: toRem(120);
      padding-bottom: toRem(45);
    }

    &__right {
      margin-right: 0;
    }
    &__title {
      max-width: 550px;
      margin-bottom: toRem(16);
      @media (max-width: $tablet) {
        max-width: unset;
      }
    }
    &__subtitle {
      @include adaptiveValue("max-width", 540, 440, 0, 1480, 991.98);
      margin-bottom: toRem(20);
      @media (max-width: $tablet) {
        max-width: 550px;
        margin: 0 auto 20px;
      }
    }
    &__line {
      @media (max-width: $tablet) {
        top: 20%;
      }
    }
    // .hero__select-title
    &__select-title {
      text-align: center;
      color: #fff;
      @include adaptiveValue("font-size", 25, 20);
    }
    // .hero__select-wrap
    &__select-wrap {
      margin: 0 auto;
      max-width: 770px;
    }
    // .hero__select
    &__select {
    }
  }
  // .solutions__form-wrap
  &__form-wrap {
    @include adaptiveValue("max-width", 530, 450, 0, 1480, 991.98);
    @media (max-width: $tablet) {
      @include adaptiveValue("max-width", 750, 400, 0, 991.98, 479.98);
      margin-right: 0;
      margin-left: auto;
    }
    @media (max-width: $mobileSmall) {
      max-width: unset;
    }
  }
  // .solutions__form-title
  &__form-title {
    background: #5e5e5e;
    padding: 15px;
    line-height: 140%;
    @include adaptiveValue("font-size", 26, 18);
  }
  // .solutions__form
  &__form {
    background: #fff;
    padding: 20px 30px;
    @media (max-width: $tablet) {
      padding: 20px;
    }

    label {
      font-family: "Oswald";
      font-weight: 600;
      letter-spacing: 0.3px;
      line-height: 110%;
    }
    input,
    select,
    textarea {
      padding: 10px 12px;
    }
  }
  &__form-col {
    gap: 10px;
  }
  // .solutions__form-row
  &__form-row {
  }
  .contacts__people-img {
    bottom: -120px;
    @include adaptiveValue("right", 470, 380, 0, 1480, 991.98);
    @include adaptiveValue("width", 191, 140, 0, 1480, 991.98);
    @media (max-width: $tablet) {
      @include adaptiveValue("right", 690, 540, 0, 991.98, 767.98);
      @include adaptiveValue("width", 170, 145, 0, 991.98, 767.98);
      bottom: -100px;
    }
    @media (max-width: $mobile) {
      @include adaptiveValue("right", 540, 370, 0, 767.98, 479.98);
      @include adaptiveValue("width", 145, 90, 0, 767.98, 479.98);
      bottom: -70px;
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
  }
  .who-we {
    background: #000;
    padding-bottom: toRem(140);
    @media (max-width: $tablet) {
      padding-bottom: toRem(60);
    }
    &__title {
      max-width: 800px;
      margin: 0 auto 13px;
      line-height: 130%;
    }
    &__desc {
      max-width: 900px;
      margin-bottom: toRem(50);
    }
    &__items {
      gap: 25px;
      width: 100%;
      margin-bottom: 0;
      @media (max-width: $mobile) {
        gap: 20px;
      }
    }
    &__item {
      @include adaptiveValue("padding-top", 60, 30);
      @include adaptiveValue("padding-left", 30, 15);
      @include adaptiveValue("padding-right", 30, 15);
      @include adaptiveValue("padding-bottom", 40, 20);
      @media (max-width: $tablet) {
        width: calc(50% - 25px / 2);
      }
      @media (max-width: $mobile) {
        width: 100%;
      }

      &:nth-child(even) {
        transform: translateY(30px);
        @media (max-width: $tablet) {
          transform: translateY(0);
        }
        &::after {
          display: none;
        }
      }
      &-title {
        font-size: toRem(30);
        text-transform: uppercase;
        margin-bottom: toRem(14);
        max-width: unset;
        @media (max-width: $mobile) {
          font-size: toRem(24);
        }
      }
      &-desc {
        letter-spacing: 1px;
        line-height: 130%;
      }
    }
    &__number {
      font-family: "Oswald";
      font-weight: 600;
      @include adaptiveValue("font-size", 70, 50);
      color: $orange;
      margin-bottom: toRem(20);
      @media (max-width: $mobile) {
        margin-bottom: toRem(10);
      }
    }
  }
  .process {
    padding-top: toRem(75);
    @include adaptiveValue("padding-bottom", 180, 70, 0, 1480, 767.98);
    @media (max-width: $tablet) {
      padding-top: toRem(30);
    }
    @media (max-width: $mobile) {
      padding-top: toRem(10);
      padding-bottom: 0;
    }
    // .process__wave
    &__wave {
    }
    // .process__container
    &__container {
    }
    // .process__title
    &__title {
      text-align: left;
      margin-bottom: toRem(10);
      @media (max-width: $mobile) {
        text-align: center;
      }
    }
    // .process__desc
    &__desc {
      text-align: left;
      line-height: 160%;
      margin-bottom: toRem(40);
      @media (max-width: $mobile) {
        margin-bottom: toRem(20);
        text-align: center;
      }
    }
  }
  .why-us {
    padding-top: toRem(150);
    padding-bottom: toRem(152);
    @media (max-width: $tablet) {
      padding-top: toRem(100);
      padding-bottom: toRem(100);
    }
    // .why-us__container
    &__container {
    }
    // .why-us__title
    &__title {
    }
    // .why-us__desc
    &__desc {
      margin-bottom: toRem(30);
    }
  }
}
//========================================================================================================================================================

.different {
  background: url("@img/home/deliver-bg.png") 0 0 / cover no-repeat;
  padding-top: toRem(110);
  padding-bottom: toRem(160);
  @media (max-width: $tablet) {
    padding-top: toRem(45);
    padding-bottom: toRem(100);
  }
  // .different__container
  &__container {
    display: flex;
    @include adaptiveValue("gap", 75, 40, 0, 1480, 991.98);
    align-items: center;
    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }
  }
  // .different__img-wrap
  &__img-wrap {
    @include adaptiveValue("width", 630, 360, 0, 1480, 991.98);
    @include adaptiveValue("margin-left", -30, 0, 0, 1480, 991.98);
    flex: 0 0 auto;
    @media (max-width: $tablet) {
      max-width: 600px;
      width: 100%;
    }
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  // .different__img
  &__img {
    width: 100%;
    @media (max-width: $mobile) {
      width: 90%;
      margin-bottom: toRem(24);
    }
  }
  // .different__text
  &__text {
    @media (max-width: $tablet) {
      text-align: center;
    }
  }
  // .different__title
  &__title {
    margin-bottom: toRem(20);
    @media (max-width: $mobile) {
      margin-bottom: toRem(14);
    }
  }
  // .different__subtitle
  &__subtitle {
    line-height: 180%;
    @include adaptiveValue("font-size", 20, 15);
    text-align: left;
    margin-bottom: toRem(20);
    @media (max-width: $tablet) {
      text-align: center;
    }
    @media (max-width: $mobile) {
      margin-bottom: toRem(14);
    }
  }
  // .different__desc
  &__desc {
    text-align: left;
    line-height: 200%;
    @include adaptiveValue("font-size", 18, 15);
    margin-bottom: toRem(20);
    @media (max-width: $tablet) {
      text-align: center;
    }
    @media (max-width: $mobile) {
      margin-bottom: toRem(14);
    }
  }
  // .different__items
  &__items {
    display: flex;
    align-items: stretch;
    gap: 8px;
    margin-bottom: toRem(24);
    @media (max-width: $mobile) {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 0;
    }
  }
  // .different__item
  &__item {
    padding: 16px 10px 16px 10px;
    font-family: "Oswald";
    font-weight: 500;
    @include adaptiveValue("font-size", 16, 14);
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    @media (max-width: $mobile) {
      width: calc(50% - 4px);
    }
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
    img {
      max-width: 27px;
      @media (max-width: $mobileSmall) {
        max-width: 22px;
      }
    }
  }
  // .different__button
  &__button {
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
}

//========================================================================================================================================================
.about {
  .hero {
    padding-top: toRem(165);
    padding-bottom: toRem(65);
    background: #fbf1ee;
    @media (max-width: $tablet) {
      padding-top: toRem(150);
      padding-bottom: toRem(45);
    }
    @media (max-width: $mobile) {
      padding-top: toRem(120);
    }
    // .hero__container
    &__container {
      @include adaptiveValue("gap", 40, 25, 0, 1480, 991.98);
    }
    // .hero__left
    &__left {
    }
    // .hero__title
    &__title {
      max-width: toRem(500);
      margin-bottom: toRem(10);
      @media (max-width: $tablet) {
        max-width: unset;
      }
    }
    // .hero__subtitle
    &__subtitle {
      margin-bottom: toRem(15);
    }
    // .hero__list
    &__list {
      li {
        img {
          width: toRem(25);
          height: toRem(25);
        }
      }
    }
    // .hero__right
    &__right {
      @include adaptiveValue("max-width", 627, 430, 0, 1480, 991.98);
      @include adaptiveValue("margin-right", 35, 0, 0, 1480, 991.98);
    }
    // .hero__right-picture
    &__right-picture {
      aspect-ratio: 627/491;
    }
    // .hero__line
    &__line {
    }
  }
  .process {
    padding-top: toRem(65);
    padding-bottom: toRem(90);
    background: linear-gradient(
      180deg,
      rgba(251, 241, 238, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    @media (max-width: $tablet) {
      padding-top: toRem(30);
      padding-bottom: toRem(40);
    }
    @media (max-width: $mobile) {
      padding-top: toRem(10);
    }
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 115, 40);
    &__desc {
      max-width: 800px;
      letter-spacing: 0.4px;
      line-height: 156%;
      margin-bottom: toRem(40);
    }
    .process__cards {
      display: flex;
      @include adaptiveValue("gap", 25, 10, 0, 1480, 991.98);
      justify-content: center;
      @media (max-width: $pc) {
        flex-wrap: wrap;
      }
    }
    .process__card {
      width: 25%;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 40px 20px;
      gap: 25px;
      @media (max-width: $pc) {
        width: calc(50% - 25px / 2);
      }
      @media (max-width: $mobile) {
        width: 100%;
      }
      &::after {
        background: $orange;
      }
      &-img {
        width: toRem(97);
        height: toRem(97);

        img {
          max-width: 62px;
        }
      }
      &-title {
        text-transform: uppercase;
        font-size: toRem(22);
      }
      &-desc {
        font-size: toRem(17);
      }
    }
  }
  .deliver {
    background: url("@img/home/why-us-bg.png") center / cover no-repeat;
    padding-top: toRem(110);
    padding-bottom: toRem(120);
    @media (max-width: $tablet) {
      padding-top: toRem(45);
      padding-bottom: toRem(45);
    }
    // .deliver__container
    &__container {
    }
    // .deliver__title
    &__title {
      margin-bottom: toRem(20);
    }
    // .deliver__desc
    &__desc {
      color: #fff;
    }
    // .deliver__items
    &__items {
    }
    // .deliver__item
    &__item {
      padding-right: toRem(30);
      padding-left: toRem(30);
    }
    // .deliver__item-number
    &__item-number {
    }
    // .deliver__item-title
    &__item-title {
    }
    // .deliver__item-text
    &__item-text {
      font-size: toRem(18);
    }
  }
}

//========================================================================================================================================================

.image-text {
  // .image-text__black
  &__black {
    background: #000;
    padding-top: toRem(95);
    padding-bottom: toRem(125);
    @media (max-width: $tablet) {
      padding-top: toRem(60);
      padding-bottom: toRem(60);
    }
    p {
      color: #fff;
    }
    .image-text__image {
      @include adaptiveValue("min-width", 655, 400, 0, 1480, 991.98);
      @include adaptiveValue("margin-left", -55, 0, 0, 1480, 991.98);
      @media (max-width: $tablet) {
        min-width: unset;
        max-width: 500px;
      }
      img {
        aspect-ratio: 655/587;
      }
    }
    .image-text__container {
      @include adaptiveValue("gap", 85, 40, 0, 1480, 991.98);
      @media (max-width: $tablet) {
        flex-direction: column-reverse;
        gap: 20px;
      }
    }
  }
  // .image-text__white
  &__white {
    background: url("@img/home/deliver-bg.png") 0 0 / cover no-repeat;
    padding-top: toRem(150);
    padding-bottom: toRem(145);
    @media (max-width: $tablet) {
      padding-top: toRem(60);
      padding-bottom: toRem(100);
    }
    p {
      color: $gray;
    }
    .image-text__image {
      @include adaptiveValue("min-width", 850, 600, 0, 1480, 991.98);
      @include adaptiveValue("margin-right", -280, -140, 0, 1480, 991.98);
      width: 100%;
      @media (max-width: $tablet) {
        min-width: unset;
        max-width: 600px;
        margin-right: 0;
      }
      img {
        aspect-ratio: 753/511;
        @media (max-width: $tablet) {
          object-position: center;
        }
      }
    }

    .image-text__container {
      @include adaptiveValue("gap", 100, 10, 0, 1480, 991.98);
      @media (max-width: $tablet) {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
  &__orange {
    p {
      color: $gray;
    }
    .image-text__image {
      @include adaptiveValue("min-width", 584, 400, 0, 1480, 991.98);
      @include adaptiveValue("margin-left", 20, 0, 0, 1480, 991.98);
      @media (max-width: $tablet) {
        min-width: unset;
        max-width: 500px;
      }
      img {
        aspect-ratio: 584/564;
      }
    }
    &.image-text__container {
      @include adaptiveValue("gap", 75, 40, 0, 1480, 991.98);
      @media (max-width: $tablet) {
        flex-direction: column-reverse;
        gap: 20px;
      }
    }
  }
  // .image-text__container
  &__container {
    display: flex;
    align-items: center;
  }
  // .image-text__image
  &__image {
    width: 100%;
  }
  // .image-text__text
  &__text {
    flex: 1 1 100%;
    p {
      text-align: left;
      margin-bottom: toRem(30);
      line-height: 170%;
      @media (max-width: $tablet) {
        text-align: center;
        margin-bottom: toRem(15);
      }
    }
  }
  // .image-text__title
  &__title {
    text-align: left;
    margin-bottom: toRem(20);
    @media (max-width: $tablet) {
      text-align: center;
    }
  }
}

//========================================================================================================================================================

.team {
  background: url("@img/about/team-bg.png") center / cover no-repeat;
  padding-top: toRem(85);
  padding-bottom: toRem(125);
  @media (max-width: $tablet) {
    padding-top: toRem(45);
    padding-bottom: toRem(45);
  }
  // .team__container
  &__container {
  }
  // .team__title
  &__title {
    text-align: center;
    margin-bottom: toRem(10);
  }
  // .team__desc
  &__desc {
    max-width: 800px;
    line-height: 160%;
    margin-bottom: toRem(45);
    @media (max-width: $mobile) {
      margin-bottom: toRem(25);
    }
  }
  // .team__items
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    text-align: center;
    @media (max-width: $tablet) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }
    @media (max-width: $mobileSmall) {
      gap: 25px;
    }
  }
  // .team__item
  &__item {
    width: calc(25% - 5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $tablet) {
      max-width: 215px;
      width: 100%;
    }
  }
  // .team__item-img
  &__item-img {
    @include adaptiveValue("width", 240, 200);
    @include adaptiveValue("height", 240, 200);
    background: #e7dcd9;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: toRem(25);
    img {
      object-position: 0 20px;
    }
  }
  // .team__item-name
  &__item-name {
    font-family: "Oswald";
    font-weight: 600;
    @include adaptiveValue("font-size", 30, 24);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: toRem(15);
  }
  // .team__item-position
  &__item-position {
    color: $gray;
  }
}
